$base-color: #fff;
$main-color: #000;
$accent-color: #ffd700;
$primary-color: $main-color;
$secondary-color: #888;
$light-color: #f0f0f0;
$dark-color: #333;
$success-color: #43a047;
$danger-color: #e53935;

$text-color: $main-color;
$link-color: $text-color;
