$base-color: #fff;
$main-color: #000;
$accent-color: #ffd700;
$primary-color: $main-color;
$secondary-color: #888;
$light-color: #eee;
$dark-color: #333;

$text-color: $main-color;
$link-color: $text-color;
