@use "../global" as g;

.l-header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2.5vw;
  top: 0;
  &__logo {
    height: 4.5vw;
    min-height: 3rem;
  }
  &__nav {
    flex: 1;
    & ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: clamp(0.75rem, 0.417rem + 1.11vw, 1.25rem);
    }
    & li {
      margin: 0 0 0 1.5em;
    }
    & a {
      text-decoration: none;
      font-weight: 600;
    }
  }
}
