@charset "UTF-8";
@use "../global" as g;

/* Header
 * ----------------------------------------------------------------- */

.l-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2.5vw 2.5vw 0 2.5vw;
  top: 0;
  // logo
  &__logo {
    height: 4.5vw;
    min-height: 3rem;
  }
  // navigation
  &__nav {
    flex: 1;
    & ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: clamp(0.75rem, 0.417rem + 1.11vw, 1.25rem);
    }
    & li {
      margin: 0 0 0 1.5em;
    }
    & a {
      text-decoration: none;
      font-weight: 600;
      position: relative;
      padding-bottom: 0.5rem;
      filter: none;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: g.$main-color; /* 下線の色 */
        transition: all 0.4s ease;
      }

      &:hover::before {
        width: 100%;
        left: 0;
      }
    }
  }
}
