@charset "UTF-8";
@use "../global" as g;

/* Main
 * ----------------------------------------------------------------- */
.l-main {
  &__section {
    padding: 4rem 0 5.5rem;
    font-size: clamp(1rem, 0.714rem + 0.95vw, 1.25rem);
    &-inner {
      max-width: 75rem;
      width: 90vw;
      margin: 0 auto;
    }
  }
  &__heading {
    font-family: g.$darumadrop-one;
    font-size: clamp(4rem, 1.714rem + 7.62vw, 6rem);
    text-align: center;
    line-height: 1;
  }
}
