@charset "UTF-8";
@use "../global" as g;

/* Component: フォームの入力欄
 * ----------------------------------------------------------------- */
.c-input {
  border: 5px solid g.$main-color;
  padding: 0.5rem;
  &.is-invalid {
    border-color: g.$danger-color;
  }
}

.c-textarea {
  @extend .c-input;
  height: 15em;
  line-height: 1.3;
}
