@charset "UTF-8";
@use "../global" as g;

/* ABOUT
 * ----------------------------------------------------------------- */
.p-about {
  background-color: g.$light-color;
  background-image: g.$wigle;
  &__basic-info {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }
  &__name {
    font-size: clamp(2rem, 1.333rem + 2.22vw, 3rem);
    font-weight: 500;
    margin: 0;
  }
  &__name-en {
    margin-left: 1em;
    font-size: 2rem;
    font-weight: 300;
  }
  &__social-links {
    flex: 1;
    justify-content: flex-end;
    img {
      width: 2.5rem;
    }
  }
}

@include g.media-breakpoint(s) {
  .p-about {
    &__basic-info {
      flex-direction: column;
    }
    &__name-en {
      display: block;
      margin: 0 0 0.5rem 0;
      text-align: center;
      font-weight: 300;
      line-height: 1;
    }
    &__social-links {
      img {
        width: 1.5rem;
      }
    }
  }
}
