@charset "UTF-8";
@use "../global" as g;

/* CONTACT
 * ----------------------------------------------------------------- */
.p-contact {
  background-color: #f0f0f0;
  background-image: g.$graph-paper;

  &__item {
    display: flex;
    align-items: flex-start;
    &-label {
      width: 30%;
    }
    &-input {
      flex: 1;
      padding-left: 1rem;
      input,
      textarea {
        width: 100%;
      }
    }
    &-error {
      color: g.$danger-color;
      min-height: 2.5rem;
    }
  }
  &__bottom {
    padding: 0.5rem;
    text-align: center;
    .c-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      .c-loader {
        display: none;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
@include g.media-breakpoint(m) {
  .p-contact__item {
    flex-direction: column;
    align-items: stretch;
    &-label {
      width: 100%;
    }
    &-input {
      padding: 0;
    }
  }
}
