@charset "UTF-8";
@use "../global" as g;

// ファーストビュー
.p-main-visual {
  width: 100%;
  height: 100vh;
  padding: 4rem;
  font-family: g.$darumadrop-one;
  text-align: center;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & h1 {
    font-size: 5rem;
    margin: 0;
  }
  &__lead {
    font-size: 2rem;
    margin: 0;
  }
  &__image {
    padding-top: 2rem;
    & img {
      width: auto;
      height: 40vh;
    }
  }
}

// ABOUT
.p-about {
  background-color: g.$light-color;
  background-image: g.$wigle;
}

// WORKS
.p-works {
  background-color: g.$main-color;
  color: g.$light-color;
  position: relative;
  z-index: 2;
  // 境界線 top
  &::before {
    display: block;
    position: absolute;
    content: "";
    background-image: url("/img/boundary.svg");
    background-repeat: repeat-x;
    width: 100%;
    height: 2rem;
    top: -1rem;
    left: 0;
  }
  // 境界線 bottom
  &::after {
    display: block;
    position: absolute;
    content: "";
    background-image: url("/img/boundary.svg");
    background-repeat: repeat-x;
    width: 100%;
    height: 2rem;
    bottom: -1rem;
    left: 0;
  }
}

// SKILL
.p-skill {
}

// CONTACT
.p-contact {
  background-color: #f0f0f0;
  background-image: g.$graph-paper;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    &-label {
      display: block;
      width: 30%;
      font-size: 1.25rem;
      font-weight: 700;
    }
    &-input {
      flex: 1;
      padding-left: 1rem;
      input,
      textarea {
        width: 100%;
      }
    }
  }
  &__bottom {
    padding: 0.5rem;
    text-align: center;
  }
}
@include g.media-breakpoint(m) {
  .p-contact__item {
    flex-direction: column;
    align-items: stretch;
    &-label {
      width: 100%;
    }
    &-input {
      padding: 0;
    }
  }
}
